<div class="d-flex justify-content-center align-items-center">
	<h1 class="mb-4 mt-4">All Students</h1>
</div>

<div class="d-flex justify-content-center align-items-center mb-4">
	<%= link_to "Добавить студента", new_admin_student_path, class: "btn btn-outline-success" %>
</div>

<div class="d-flex justify-content-center align-items-center">

	<table class="table table-striped">
		<tr>
			<th>Имя</th>
			<th>Фамилия</th>
			<th>Email</th>
			<th>Skype</th>
			<th>Телефон</th>
			<th>Группа</th>
			<th>Действие</th>
		</tr>
		<% if @students.any? %>
		<% @students.each do |student| %>
		<tr>
			<td> <%= link_to student.first_name, admin_student_path(student) %> </td>
			<td> <%= link_to student.surname, admin_student_path(student) %> </td>
			<td> <%= student.email %> </td>
			<td> <%= student.skype %> </td>
			<td> <%= student.phone_number %> <br> <%= student.second_phone_number %> </td>
			<td> <%= student.first_name %> </td>
			<td> <%= link_to "Изменить", edit_admin_student_path(student) %>
			<%= link_to "Посмотреть", admin_student_path(student) %> </td>
		</tr>
		<% end %>
		<% else %>
		<p>There is still no students in database!</p>
		<% end %>

	</table>

</div>

<div class="d-flex justify-content-center align-items-center mt-2">
	<%= link_to "Добавить студента", new_admin_student_path, class: "btn btn-outline-success" %>
</div>