<h2>Log in</h2>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
    <a class="navbar-brand" href="/admin/students">Attractor school</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="d-flex justify-content-center align-items-center mt-4">
  <h2>Log in</h2>
</div>

<div class="d-flex justify-content-center align-items-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field mt-3">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Пароль" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field mt-3">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
  </div>
  <% end -%>

  <div class="actions d-flex justify-content-center align-items-center mt-1">
    <div>
      <%= f.submit "Log in", class:"btn btn-outline-success" %>
    </div>
    <div class = "ml-3">
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-outline-success" %><br />
      <% end -%>
    </div>
  </div>
  <% end %>
</div>

<%= render "administrators/shared/links" %>
